.wrapper {
  background: #fff5ef;
  min-height: 100vh;
}

.favoritesTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  color: #fa9c57;
  margin: -5vh 0 2vh 0;
  text-align: center;
}
